# Telegram Bot Token — BotFather'dan oling
BOT_TOKEN=YOUR_BOT_TOKEN_HERE

# Admin Telegram ID
ADMIN_ID=YOUR_TELEGRAM_ID_HERE

# Telegram Mini App'ning public HTTPS manzili
WEB_APP_URL=https://your-app-url.onrender.com

# Render PORT
PORT=10000
